html body {
   background-color: #F3F3F3; # pale gray
   height: 100%;
   width: 100%;
}

.navigation-buttons {
    margin:10px 0 0 20px;
}

.navigation-button {
  border: 1px solid #E4E4E4;
  background: DarkGray;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}

.nav-tabs > li.active > a {
  border: 1px solid DarkGray;
  color: black;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.nav-tabs > li > a {
  background: gainsboro;
  border: 1px solid silver;
  color: gray;
  font-size: 10px;
  line-height: 1;
  padding: 5px 15px;
}

h1 {
  color: SlateGray;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto !important;
}

form {
  display: block;
  margin: 5px 30px;
  overflow: hidden;
  font-size: 0;
}

.full-width {
    display:block;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: DarkGray;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
  padding: 2px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: DarkGray;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
  padding: 2px;
  opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: DarkGray;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
  padding: 2px;
  opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: DarkGray;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
  padding: 2px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: DarkGray;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
  padding: 2px;
}
